*.elc
elpa/
tree-sitter-module/
projectile-bookmarks.eld
settings.el
settings-local.*

# those directories should be somewhere else, but keep them here in case
# emacs is loaded without the configuration.
eln-cache/
auto-save-list/
elpy/
eshell/history
package-quickstart.el
tramp
projects
transient/
games/
network-security.data
